{% load i18n %}
<script type="text/html" id="login-template">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-7">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#tab-commission" aria-controls="login" role="tab" data-toggle="tab">คอมมิชชั่น</a></li>
          <li role="presentation"><a href="#tab-howitwork" aria-controls="howitwork" role="tab" data-toggle="tab">ทำงานอย่างไร</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab-commission">
            <h1>จะมีรายได้จากค่านายหน้าได้อย่างไร</h1>
            <p>โปรแกรมพันธมิตร FIFA555 คุณจะได้รับเปอร์เซนต์คอมมิชชั่นจากการแนะนำ อ้างอิงจากยอดลูกค้าที่ผู้เล่นผ่านเกณฑ์ และยอดรายได้สุทธิจากการเล่นใน แต่ละสินค้าของเรา คุณจะได้รับค่าคอมมิชชั่นสูงสุด 45% ของยอดชนะสุทธิจากการเดิมพันเกมส์กีฬาและคาสิโน รายได้ของคุณขึ้นอยู่กับรายได้ชนะสุทธิ ทั้งหมดที่สมาชิกแต่ละคนมีการวางเดิพันที่เกมส์กีฬา และคาสิโน ในแต่ละเดือน การคำนวณค่าคอมมิชชั่นในแต่ละเดือนสามารถอ้างอิงได้จากตาม ตารางด้านล่างนี้</p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">กำไรสุทธิต่อเดือน (จากวันแรกถึงวันสุดท้ายของเดือน)</th>
                  <th class="text-center">อัตราคอมมิชชั่น คิดเป็นเปอร์เซ็นต์</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>THB 1 - 100,000</td>
                  <td class="text-center">28%</td>
                </tr>
                <tr>
                  <td>THB 100,001 - 1,500,000</td>
                  <td class="text-center">35%</td>
                </tr>
                <tr>
                  <td>THB 1,500,000 - 3,200,000</td>
                  <td class="text-center">40%</td>
                </tr>
                <tr>
                  <td>THB 3,200,001 ขึ้นไป</td>
                  <td class="text-center">45%</td>
                </tr>
              </tbody>
            </table>
            <p><strong>โปรดทราบ:</strong> คุณต้องมั่นใจว่าสมาชิกทุกรายต้องมีตัวตน และเล่นใน FIFA555 จริง เนื่องจาก FIFA555 จะมีมาตราการตรวจสอบคุณภาพของสมาชิกแต่ละรายด้วย ถ้ามาตราฐานสมาชิกที่มีไม่ถึงคุณภาพของเรา ถือว่าคุณจะไม่ได้รับค่าคอมมิชชั่นและ<strong>ยอดติดลบของเดือนใดก็ตามจะถูกยกยอดไปยังเดือนถัดไป</strong></p>
          </div>
          
          <div role="tabpanel" class="tab-pane" id="tab-howitwork">
            <h1>ทำงานอย่างไร</h1>
            <p>ระบบนำความอุตสาหะเล็กๆไปสู่การเป็นเจ้านายที่ดีของกระบวนการทำงาน กรุณาอ้างอิงตามข้อมูลด้านล่าง</p>
            <h2>โปรแกรมพันธมิตรคืออะไร</h2>
            <p>โปรแกรมพันธมิตร คือกลยุทธ์ที่สร้างความสันพันธ์ระหว่างคุณกับ FIFA555 ทดลองระบบได้ง่ายๆ เพราะนี่คือโปรแกรมที่ทำงานร่วมกันระหว่างผลตอบแทนและเงินปันผลจากเงินวางเดิมพันของผู้เล่น ยิ่งมีผู้เล่นมากขึ้นเท่าไหร่จำนวนการวางเดิมพันก็จะมากขึ้นและผลกำไร ที่คุณจะได้รับก็ยิ่งสูงขึ้น</p>
            <h2>ทำกำไรได้อย่างไร</h2>
            <p>อย่างแรก เปิดบัญชีพันธมิตรที่คุณต้องการ โปรดกดตรงนี้เพื่อเริ่มต้น ลงทะเบียน การขอของคุณจะได้รับการอนุมัติอโดยเร็ว หากข้อมูลที่ส่งถูกต้องและ ครบถ้วน และคุณจะได้รับบัญชีพันธมิตรโดยไม่เสียค่าใช้จ่าย จากนั้นเข้าสู่ระบบในการเชื่อมต่อ และเริ่มธุรกิจของคุณ รหัสที่ไม่ซ้ำกันของเราจะช่วยใน การแบ่งแยกข้อมูลลูกค้าที่คุณทำการแนะนำออกจากผู้ร่วมโครงการพันธมิตรท่านอื่นๆ ค่านายหน้าจะจ่ายให้คุณตามกำไรรายได้สุทธิที่เกิดขึ้นจากผู้เล่น</p>
            <h2>จะเริ่มต้นได้อย่างไร</h2>
            <p>โปรแกรมพันธมิตรโดยทั่วไปคือการดำเนินการผ่านการสร้างเว็บไซต์ รหัสเฉพาะของคุณจะถูกบรรจุไว้ในเว็บไซต์เมื่อลูกค้าของคุณได้เข้าใช้งานผ่านเว็บไซต์ FIFA555</p>
            <p>ถึงแม้ว่าโปรแกรมพันธมิตรส่วนใหญ่จะดำเนินการผ่านโครงสร้างของเว็บไซต์ แต่นั่นไม่ได้หมายถึงว่าคู่ค้าพันธมิตรทั้งหมดเป็นเจ้าของเว็บไซต์ด้วยตนเอง ดังนั้น ที่ FIFA555 เราจะจัดการให้ในส่วนของการออกแบบรูปแบบเว็บไซต์นั้นอย่าภายใต้ควบคุมของคุณ และสิ่งที่คุณต้องทำคือสร้างสรรค์ผลงานโดยใช้ความสามารถ และความคิดสร้างสรรค์เพื่อให้เว็บไซต์เข้าถึงผู้ใช้งานได้มากที่สุด การโฆษณาไม่ว่าจะเป็นบนนิตยสารและหนังสือพิมพ์ แม้กระทั่งการส่งอีเมล์ถึงสมาชิก หรือ ช่องทางการโฆษณาอื่นๆ ที่จะช่วยในการพิสูจน์ได้อย่างรวดเร็ว และมีประสิทธิภาพ</p>
            <p><strong>หมายเหตุ:</strong> คุณไม่ควรที่จะส่งอีเมล์ถึงสมาชิกใดๆโดยไม่ได้รับการอนุญาต มิฉะนั้น บัญชีพันธมิตรของคุณจะถูกยกเลิก และรายได้จะถูกริบคืน</p>
            <h2>พัฒนาอย่างไร</h2>
            <p>พันธมิตรในเครือ FIFA555 คุณจะไม่เสียค่าใช้จ่ายในการเข้าสู่ระบบเวปไซต์ของพันธมิตรพวกเรา แผนงานถูกจัดให้เป็นแบบแผน ซึ่ง คุณสามารถตรวจสอบผลกำไรของคุณและจำนวนผู้เล่นที่คุณอ้างอิง คุณสามารถดาวน์โหลดและเรียกดูข้อมูลทั้งหมดได้ที่นี่</p>
          </div>
        </div><!-- /.tab-content -->
      </div>
      <div class="col-sm-6 col-md-4 col-md-offset-1">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-register" role="tablist">
          <li role="presentation" class="active"><a href="#tab-register" aria-controls="register" role="tab" data-toggle="tab">{% trans 'Register' %}</a></li>
          <li role="presentation"><a href="#tab-login" aria-controls="login" role="tab" data-toggle="tab">{% trans 'Login' %}</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tab-content-register">
          <div role="tabpanel" class="tab-pane active" id="tab-register"></div>

          <div role="tabpanel" class="tab-pane" id="tab-login">
            <form class="form-login" method="POST" role="form">
              <legend>{% trans 'Login' %}</legend>
              <div class="form-group">
                <label for="id-username">{% trans 'Username' %}</label>
                <input type="text" class="form-control" id="id-username" name="username" required />
              </div>
              <div class="form-group">
                <label for="id-password">{% trans 'Password' %}</label>
                <input type="password" class="form-control" id="id-password" name="password" required />
              </div>
              <button type="submit" class="btn btn-primary center-block">{% trans 'Login' %}</button>
            </form>
          </div>
        </div><!-- /.tab-content -->
      </div>
    </div>
  </div>
</script>